@import 'mediawiki.skin.variables.less';

.mw-htmlform-field-HTMLSubmitField::before {
	width: 24px;
	height: 24px;
	border: 5px @border-style-base @border-color-base;
	border-top: 5px @border-style-base @border-color-progressive;
	border-radius: @border-radius-circle;
	margin: 0 auto 1em;
	animation: spin 1s linear infinite;
	content: ' ';
	display: block;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	80% { transform: rotate(350deg); }
	100% { transform: rotate(360deg); }
}
